<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}1조 Project{% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" 
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" 
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="{{url_for('static', filename='data/image/Web Icon (flask).ico')}}">
    <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
    {% block additional_head %} {% endblock %}
</head>


<body>
    <nav class="navbar bg-dark navbar-dark">
        <nav class="navbar navbar-left">
            <span class="navbar-text">
                <h2>
                    <a class="nav-link" 
                    href="{% if menu.home %}#{% else %}/{% endif %}">
                    <strong>오늘내일조  :  [AI K-POP Dance Platform] </strong></a>
                </h2>
            </span>
        </nav>
        <nav class="navbar navbar-center">
            <ul class="nav nav-pills mr-auto">
                <li class="nav-item dropdown mr-5">
                    <a class="nav-link dropwodn-toggle {% if menu.menu1 or menu.menu1_rec %}active{% else %}bg-warning bg-gradient{% endif %}" href="#" data-toggle="dropdown" >
                        <i class="far fa-list-alt"></i> | 춤 일치도 분석 |
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/menu1">사용자 춤 업로드</a>
                        <a class="dropdown-item" href="/menu1_rec">사용자 춤 녹화</a>
                    </div>
                </li>
                <li class="nav-item mr-5">
                    <a class="nav-link {% if menu.menu2 %}active{% else %}bg-warning bg-gradient{% endif %}" 
                        href="{% if menu.menu2 %}/menu2{% else %}/menu2{% endif %}">
                        | 동작 모방- imitator |
                    </a>
                </li>
            </ul>
        </nav>
        <nav class="navbar navbar-right">
            <ul class="nav nav-pills mr-auto">
                <li class="nav-item mr-5">
                    <a class="nav-link"
                        href="">
                        | GitHub |
                    </a>
                </li>
            </ul>
        </nav>
    </nav>
    <nav class="navbar bg-warning">
        <h3 style="margin-top:7px; margin-left:80px">
            {% block subtitle %}{% endblock %}
        </h3>
    </nav>

    <div class='mb-5'>
        {% block content %}
        {% endblock %}
    </div>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-center fixed-bottom">
        <a href = "" class="navbar-text">
            Copyright © 2022 Multicampus 9, 10회차 Final Project 오늘내일조 (정재은, 강신웅, 송민성, 석원경, 윤민영, 황상미). All rights reserved.
        </a>
    </nav>
    {% block additional_body %}
    {% endblock %}

</body>


</html>