{% extends "base.html" %}

{% block additional_head %}
<style>
    /* Make the image fully responsive */
    .carousel-inner img {
        width: 100%;
        height: 640px;
        margin : auto;
    }
</style>
{% endblock %}

{% block subtitle %}
<strong style="font-family: NEXON Lv2 Gothic Bold;"> 메인 홈 </strong>
{% endblock %}

{% block content %}
<div class="container show-grid" style="margin:auto;">
    <div class="row mt-5">
        <div id="demo" class="carousel slide" data-ride="carousel">
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
            </ul>
            <div class="carousel-inner" >
                
                <div class="carousel-item active">
                    <a href="{% if menu.menu1 %}/menu1{% else %}/menu1{% endif %}">
                        <img src="static\data\image\flask1.jpg">
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="{% if menu.menu2 %}/menu2{% else %}/menu2{% endif %}">
                        <img src="static\data\image\flask2.jpg">
                    </a>
                </div>
            </div>
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>
</div>
{% endblock %}