{% extends "base.html" %}

{% block subtitle %}
<strong>춤 동작 일치도 결과</strong>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <table class="table">
            <tr>
                <td class="w-90 ml-5">
                    <iframe src="" width="800" height="500"></iframe>
                </td>
            </tr>
            <tr>
                <td>
                    {{menu}}
                </td>
            </tr>
            <tr>
                <td>
                    {{dance_file}}
                </td>
            </tr>
            <tr>
                <td>
                    {{user_dance_file}}
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align:center;">
                    <button class="btn btn-primary" onclick="location.href='/menu1'">재실행</button>
                </td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}