{% extends "base.html" %}

{% block subtitle %}
<strong>Impersonator</strong>
{% endblock %}

{% block content %}
<div class="col-6">
    <form method="post" action="/menu2" enctype = "multipart/form-data" class="mt-3 ml-3 mr-1 pt-3 pl-3 pr-1" style="border:3px double #000;">
        <table class="table table-boarderless">

            <tr>
                <td class='col-3'> <strong>춤 선택 : </strong> </td>
                <td class='col-9'>    
                    {% for option in dance_options %}
                    <div class="form-check-inline">
                        <label class='form-check-label'>
                            <input type="radio" class="form-check-input" name="dance" value="{{option.val}}" {% if loop.first %}checked{% endif %}>{{option.disp}}
                        </label>
                    </div>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <div class="custom-file mb-3">
                        <input type = "file" class="custom-file-input" id = "dance" name = "dance" />
                        <label class="custom-file-label" for="dance">직접 추가</label>
                    </div>
                </td>
            </tr>

            <tr>
                <td> <strong>사용자 360˚ 영상 선택 :</strong> </td>
                <td>    
                    {% for option in character_options %}
                    <div class="form-check-inline">
                        <label class='form-check-label'>
                            <input type="radio" class="form-check-input" name="character" value="{{option.val}}" {% if loop.first %}checked{% endif %}>{{option.disp}}
                        </label>
                    </div>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <div class="custom-file mb-3">
                        <input type = "file" class="custom-file-input" id = "character" name = "character" />
                        <label class="custom-file-label" for="character">모델 직접 추가, 아니면 녹화</label>
                    </div>
                </td>
            </tr>

            <tr>
                <td> <strong>사용자 배경 사진 업로드 :</strong> </td>
                <td>
                    {% for option in background_options %}
                        <div class="form-check-inline">
                            <label class='form-check-label'>
                                <input type="radio" class="form-check-input" name="background" value="{{option.val}}" {% if loop.first %}checked{% endif %}>{{option.disp}}
                            </label>
                        </div>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <div class="custom-file">
                        <input type = "file" class="custom-file-input" id = "background" name = "background" />
                        <label class="custom-file-label" for="background">배경 직접 추가</label>
                    </div>
                </td>
            </tr>

            <tr>
                <td> <button type="submit" class = "btn btn-primary mr-2">실행</button> </td>
            </tr>

        </table>
    </form>
</div>
<div class="col-6">
    <div action="/menu2" method="post" enctype = "multipart/form-data" class="mt-3 ml-0 mr-3 pt-3 pl-0 pr-3" style="border:3px double #000;">
        
    </div>
</div>
{% endblock %}

{% block additional_body %}
    <script>
        $("#dance_video").on("change", function() {
            var fileName1 = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName1);
        });
        $("#character360_images").on("change", function() {
            var fileName2 = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName2);
        });
        $("#background_image").on("change", function() {
            var fileName3 = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName3);
        });

    </script>  
{% endblock %}