{% extends "base.html" %}

{% block subtitle %}
<strong>춤 동작 일치도 분석</strong>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col">
            <form method="post" action="/menu1" enctype = "multipart/form-data">
                <table class="table table-boarderless">
                    <tr>
                        <td> <strong>춤 업로드 / 선택 : </strong> </td>
                        <td> 
                            <div class="custom-file">
                                <input type = "file" id = "dance_video" name = "dance_video" />
                                <label class="custom-file-label" for="dance_video">춤 선택</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td> <strong>사용자 춤 영상 업로드 : </strong> </td>
                        <td>
                            <div class="custom-file">
                                <input type = "file" id = "user_dance" name = "user_dance" />
                                <label class="custom-file-label" for="user_dance">사용자 춤 - 업로드되도록</label>
                            </div>
                        </td>
                    </tr>
                    <tr> 
                        <td> <button type="submit" class="btn btn-primary mr-2">실행</button> </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block additional_body %}
    <script>
        $("#dance_video").on("change", function() {
            var fileName1 = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName1);
        });
        $("#user_dance").on("change", function() {
            var fileName2 = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName2);
        });
    </script>  
{% endblock %}