{% extends "base.html" %}

{% block subtitle %}
<strong>춤 동작 일치도 결과</strong>
{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-8">
        <div class="card text-white bg-secondary mt-4 mb-4">
            <div class="card-body">
                <h5 class="card-title">일치도 계산 결과</h5>
                <p class="card-text"></p>
                <div class='row justify-content-center mt-3 mb-3'>
                    <video style="width:90%; no-repeat center center; background-size:cover;" controls autoplay>
                        <source src="">
                    </video>
                </div>
                <div>
                        {{menu}}
                </div>
                <div>
                        {{dance_file}}
                </div>
                <div>
                        {{user_dance_file}}
                </div>
                <div colspan="2" style="text-align:center;">
                    <button class="btn btn-primary" onclick="location.href='/menu2'">재실행</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
    </div>
</div>
{% endblock %}