{% extends "base.html" %}

{% block subtitle %}
<strong>춤 동작 일치도 분석</strong>
{% endblock %}

{% block content %}
<form action="/menu1" method="POST" enctype="multipart/form-data">
    <dic class='row justify-content-center mt-3 ml-4 mr-4'>
        <div class="col-6" style="padding-left:10px; padding-right:5px;">
            <table class="table" style="border:3px double #000;">
                <tr>
                    <td class='col-4'> <strong>기준 춤 영상 : </strong> </td>
                    <td class='col-8'>
                        {% for option in dance_options %}
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="dance_option" value="{{option.val}}" {% if loop.first %} checked {% endif %}
                                                                                                                    {% if loop.last %} id="dance_direct" {% endif %}> {{option.disp}}
                            </label>
                        </div>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="dance_upload" name="dance_upload" disabled>
                            <label class="custom-file-label" for="dance_upload">기준 춤 영상 업로드</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="image_container"></div>
                        <video preload="metadata" src="vidlink.mp4#t=0.5"></video>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-6" style="padding-left:5px; padding-right:10px;">
            <table class="table" style="border:3px double #000;">
                <tr>
                    <td class='col-4'> <strong>사용자 춤 영상 :</strong> </td>
                    <td class='col-8'>    
                        {% for option in user_dance_options %}
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="user_dance_option" value="{{option.val}}" {% if loop.first %} checked {% endif %}
                                                                                                                 {% if loop.last %} id="user_dance_direct" {% endif %}> {{option.disp}}
                            </label>
                        </div>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <div class="custom-file">
                            <input type = "file" class="custom-file-input" id = "user_dance_upload" name = "user_dance_upload" disabled>
                            <label class="custom-file-label" for="user_dance_upload">사용자 춤 영상 업로드 or 녹화(미구현)</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            썸네일 띄우기
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div>
        <td> <button type="submit" class="btn btn-primary mr-2">제출</button> </td>
    </div>
</form>
{% endblock %}

{% block additional_body %}
<script>
    $("#dance_upload").on("change", function() {
        var fileName1 = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName1);
    });
    $("#dance_direct").on("click", function() {
        var condition = $("#dance_upload").prop("disabled");
        $("#dance_upload").prop("disabled", condition ? false : true);
    });

    $("#user_dance_upload").on("change", function() {
        var fileName2 = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName2);
    });
    $("#user_dance_direct").on("click", function() {
        var condition = $("#user_dance_upload").prop("disabled");
        $("#user_dance_upload").prop("disabled", condition ? false : true);
    });




</script> 
{% endblock %}

